
header{
text-align: center;

}


h1{
font-style: oblique;
color: blue;
border-radius: 10px;
border-style: solid;
border-color: aliceblue;
margin: 30px;
padding: 10px;



}
nav{

    border: 5px;
    border-style: ridge;
    border-color: aliceblue;
    margin: auto;
    float: inline-end;

    
}

ul{

    font-style: italic;

}

body{

    background-color: orange;
}

p{
    background-color: white;
    font-style: normal;
    display: inline;
    
    }

    a{
font-style: italic;
color: rgb(0, 0, 0);


    }
    footer{

        border-radius: 10px;
        border-style: solid;
        border-color: aliceblue;
        margin: 5px;
        padding: auto;
        

    }